@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono", monospace;
  margin: auto;
  background-color: #282a35;
}
.main-page {
  min-height: 100vh;
  color: #ffffff;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.prf-bg {
  background-image: url("../images/prf-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-content {
  color: #000000;
  background-image: url(../images/bg5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second-section {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: auto;
  margin-right: auto;

  height: auto;
  padding: 2%;
  padding-bottom: 3%;
  max-width: 1024px;
}

#leftdiv {
  padding-left: 10%;
}
#rightdiv {
  padding-left: 10%;
}
#information {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  border: none;
  border-collapse: collapse;
}

.third-section {
  margin-top: 5%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}
#school-info {
  margin-bottom: 2%;
  padding: 2%;
  border: 2px;
  display: grid;
  grid-template-columns: 30% 70%;
  color: #ffffff;
}
#information th {
  text-align: left;
}
#information td {
  text-align: left;
}
table,
th,
td {
  padding: 5px;
}
table {
  border-spacing: 15px;
}
#div1 {
  margin: auto;
  text-align: center;
  padding: auto;
  color: #1f618d;
}
#div2 {
  text-align: left;
  padding: auto;
  color: #1f618d;
}
#submit {
  float: right;
}
tbody tr:nth-child(even) {
  background: none;
}
img {
  width: 370px;
  height: 300px;
  border-radius: 8px;
}

.edu_div {
  background-color: #d5f5e3;
  border-radius: 8px;
}

input {
  margin-top: 10px;
}
.main-btn {
  width: 175px;
  height: 50px;
  border: 0px;
  border-radius: 17.5px;
  color: white;
  text-align: center;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.btn1-effect {
  color: black;
  background-color: white;
  font-size: 15px;
}

.btn1-effect:hover {
  color: white;
  background-color: #0e4397;
}

.btn2-effect {
  color: #2e4053;
  background-color: white;
  font-size: 15px;
}

.btn2-effect:hover {
  color: white;
  background-color: #000000;
}

.nameHead {
  font-family: "Rubik Dirt", cursive;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
}

.sub-head {
  text-align: center;
  margin-top: 0%;
}

.rimg {
  border-radius: 8px;
  margin-top: 100px;
}
.sub-btn {
  font-size: 17px;
  background-color: #008cba;
  color: white;
  border: 0px;
  width: 120px;
  height: 45px;
  border-radius: 8px;
  padding-left: auto;
  padding-right: auto;
  display: inline-block;
}

.sub-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-reset {
  font-size: 17px;
  background-color: #9e4486;
  color: white;
  width: 120px;
  height: 45px;
  padding-left: auto;
  padding-right: auto;
  border-radius: 8px;
  border: 0px;
  display: inline-block;
}

.btn-reset:hover {
  background-color: white;
  color: black;
  border: 2px solid #9e4486;
  transition-duration: 0.4s;
  cursor: pointer;
}
.div-img {
  display: flex;
  justify-content: center;
}

.prf-btn {
  display: flex;
  justify-content: center;
}

input[type="text"],
input[type="email"],
input[list="city"],
input[type="textarea"],
input[type="number"],
select,
textarea {
  margin-top: 6px;
  margin-bottom: 16px;
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(204, 204, 204);
  resize: vertical;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;

  font-size: 4rem;
  margin-top: 0%;
  text-align: center;
}
#about-heading {
  padding-top: 2%;
  margin-bottom: 0;
}

.main-con {
  background-color: #1b4f72;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  border-radius: 5px;
  color: #1b4f72;
  background-color: #ebf5fb;
  padding: 20px;
}
.con-txt {
  color: #ffffff;
  text-align: center;
}
.cus-footer {
  color: #ffffff;
  text-align: center;
  height: 150px;
}

@media screen and (max-width: 1024px) {
  .second-section {
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 10%;
  }
  .third-section {
    padding-left: 5%;
    padding-right: 5%;
  }
  .main-con {
    padding-left: 5%;
    padding-right: 5%;
  }
}
